<ActionBar title="My App" class="action-bar">
</ActionBar>
<TabView sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="page" *tabItem="{title: 'Squad'}">
        <router-outlet>
            
        </router-outlet>
        
        <ListView [items]="items" class="list-group">
            <template let-item="item">
                <Label [nsRouterLink]="['/items/item', item.id]" [text]="item.name" class="list-group-item"></Label>
            </template>
        </ListView>
    </StackLayout>
    
    <StackLayout *tabItem="{title: 'About'}">
        <router-outlet>

        </router-outlet>
        <Label text="About"></Label>

        <Button [nsRouterLink]="['/items/blank']" text="Navigate to subpage"></Button>
    </StackLayout>
</TabView>